{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mt-5">Search for Availability</h1>

                <form action="/search-availability" method="post" novalidate class="needs-validation">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="start_date" class="form-label">Start Date</label>
                                <input required type="date" class="form-control" id="start_date" name="start_date" aria-describedby="start_date_help">
                                <div id="start_date_help" class="form-text">Enter your start date in YYYY-MM-DD</div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="mb-3">
                                <label for="end_date" class="form-label">End Date</label>
                                <input required type="date" class="form-control" id="end_date" name="end_date" aria-describedby="end_date_help">
                                <div id="end_date_help" class="form-text">Enter your end date in YYYY-MM-DD</div>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="submit" class="btn btn-primary ">Search Availability</button>
                    </div>

                </form>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <p id="myParagraph">This is some text</p>
            </div>
        </div>

    </div>
{{end}}